@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white: #FFF;
  --black: #171717;
  --gray: #525252;
  --gradient: linear-gradient(-64deg, #D2D6DB 0%, #F9FAFB 100%);
  --border: #E6E6E6;

  /* BADGE */
  --green: #BBF7D0;
  --dark-green: #15803D;
  --light-green: #F0FDF4;

  /* BUTTON */
  --blue: #4338CA;
  --dark-blue: #3730A3;
  --focus-border: rgba(68, 76, 231, 0.12);
  --disabled: #A3A3A3;

  font-family: "Noto Sans", sans-serif;
  color: var(--black);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--gradient);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;

  a {
    color: #000;
    font-weight: bold;
  }
}
